.communities-container-ALL .communities-container{
    margin-left: 115px;
}
.ComunityH1{
    text-align: center;
}
.hrCommunity{
    border-color: rgba(37, 40, 45, 0.37);
    width: 100%;
    margin: 2rem 0;
}