.slider-btn {


    color: #000000;
    border-radius: 50%;
    font-size: 22px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.recommendations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Plus Jakarta sans";
    margin-left:3rem;
    margin-bottom: 5rem;
    border-top:1px solid white;

}



.flexing {


    align-items: center;
    display: flex;
    justify-content: center;
}

.slider-btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}


.flexing::-webkit-scrollbar {
    display: none;
}

.RecommendationCard{

    width: 200px;
    height: 300px;
    gap:5px;
}
.RecommendationCard img{
    border-radius: 8px;
    width: 193px;
    height: 176px;
}
.Prices{
    display: flex;
    justify-content: space-between;
}
.Sold{
    display: flex;
    justify-content: space-between;
    font-size: 14px ;
    color: #f93950;
}
.Statistiques{
    position: relative;
    font-size: 13px;
    margin-top: 5px;
    align-self: flex-start;
    gap:15px;
}
