

.Offers{
    display: grid;
    grid-template-columns:  45% 15% 45%;
    justify-items: center;
    position: relative;
    left: 16px;
    font-family: "Plus Jakarta sans";
    margin-top: -3%;





}
.offersList{
    display: flex;
    justify-content: space-evenly;

    margin: 50px;
    border-radius: 15px;

    background-color: rgb(36, 39, 44);



    transition:  0.2s;
}
.offersCard{
    position: relative;
    box-shadow: -1px -1px 2px 2px rgb(65, 67, 71);

    margin: 0rem;
    border-radius: 15px;

    max-width: 30rem;
    max-height: 50rem;
    transition:  0.1s;
}
.offersList:hover{
    transform: translateY(0.6rem);
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #232121;
    border: none;
    z-index: 1;

}
button:active{
    background-color: rgba(255, 255, 255, 0.75) !important;
}
.image{
    width: 150px;
    height: 150px;
}

@media (max-width: 1024px) and (min-width: 760px) {
    .Offers {
        display: grid;
        grid-template-columns:  46% 38% 48%;
        overflow-x: auto;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        width: 100vw;

    }

    .offersList {
        display: inline-flex;




    }

    .offersCard {
        flex: 0 0 auto;
        max-width: 24rem;
        max-height: 28rem;
        scroll-snap-align: center;

    }

    .image {
        width: 130px;
        height: 130px;
    }


    .Offers::-webkit-scrollbar {
        display: none;
    }
    .Offers {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}




@media (max-width: 490px) {
    .Offers {
        margin-top: -2rem;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        left: 0;

    }

    .offersList {

        flex-direction: column;
        align-items: center;
        margin: 30px 30px;
    }

    .offersCard {
        max-width: 100%;
        width: 100%;
    }

    .offersCard:hover {
        scale: 1;
    }
}

