.categories-container {
    display: flex;
    flex-direction: column;
    padding-left: 155px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1385px;
    margin-top: 0 ;
    margin-left: 0px ;
    margin-right: 0 ;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.17);
    margin-bottom: 5rem;
    font-family: "Plus Jakarta sans";

}
@media (min-width: 1200px) {
    .categories-container {
        padding-left: 145px;
        margin-left: auto;
        margin-right: auto;
    }
}


